@model SoundCloudLists.Models.UserList

@{
    ViewBag.Title = "Followers";
}

<h2>Followers</h2>

@foreach (var follower in Model.getContent())
{
    <div class="user">
        <b>Username:</b> @follower.getUserName();
        
        <button name="AddToList">Add to List </button>
    </div>
}

<button name="searchNext"> Next </button>
